{% extends 'main/layout.html' %}
{% block error %}
     <!--Page Title-->
    <section class="page-title" style="background-image:url(/media/images/page_title/slide1.jpg);">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Title -->
            	<div class="title-column col-md-6 col-sm-8 col-xs-12">
                	<h1>صفحه پیدا نشد</h1>
                </div>
                <!--Bread Crumb -->
                <div class="breadcrumb-column col-md-6 col-sm-4 col-xs-12">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url "main" %}">خانه</a></li>
                        <li class="active">404</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Error Section-->
    <section class="error-section">
    	<div class="auto-container">
            <div class="error-big-text">404</div>
            <h2>به نظر می رسد یک چیزی اشتباه است!</h2>
            <div class="text">صفحه مورد نظر پیدا نشد</div>
            <div class="error-options">
            	<a href="{% url 'main' %}" class="theme-btn btn-style-one">بازگشت به خانه</a>
            </div>
        </div>
    </section>

    {% endblock %}