{% extends 'main/layout.html' %}

{% block product_list %}

     <!--Page Title-->
    <section class="page-title" style="background-image:url(/media/images/page_title/slide3.jpg);">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Title -->
            	<div class="title-column col-md-6 col-sm-8 col-xs-12">
                	<h1>محصولات</h1>
                </div>
                <!--Bread Crumb -->
                <div class="breadcrumb-column col-md-6 col-sm-4 col-xs-12">
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url "main" %}">خانه</a></li>
                        <li class="active">محصولات</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->

     <!--Team Section-->
    <section class="team-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <div class="sec-title">
            	<h2>محصولات</h2>
            </div>
            <div class="row clearfix grid-blocks">

                {% for each in product_list %}

                    <!--Team Member-->
                     <div class="team-member col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    	<div class="row clearfix">
                        	<!--Image Column-->
                        	<div class="image-column col-md-5 col-sm-5 col-xs-12">
                            	<div class="image">
                                	<img src={% if each.thumbnail_1 %}{{ each.thumbnail_1.url }}{% else %}#{% endif %} alt={{ each.name }}>
                                </div>
                            </div>
                            <!--Content Column-->
                        	<div class="content-column col-md-7 col-sm-7 col-xs-12">
                            	<div class="content-inner">
                                	<div class="designation">{{ each.category.name }}</div>
                                    <h3><a href="/product/detail{{ each.id }}">{{ each.name }}</a></h3>
                                    <div class="text">{{ each.short_desc }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </section>
    <!--End Team Section-->

{% endblock %}